@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');
html, body{
    margin:0;
    padding:0;
    font-family: 'Jost';
    font-weight: 500;
}

#page{
    width:80%;
    margin:50px auto;

}

.maintitle{
    font-size: 3rem;
}

ul{
    margin:10px 0 0 0;
    padding:0;
}

ul li{
    display: inline-block;
    background:#dee8ec;
    color:#93b0d0;
    padding:7px 20px;
    margin-right: 5px;
    border-radius: 5px;
    cursor:pointer;
}

.mainbox{
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,0.23);
    padding:5%;
    margin-top:30px;
    visibility: hidden;
}

#testName{
    border-bottom: 2px solid #777;
    color:#555;
    font-size: 1.3rem;
    margin-bottom:30px;
}

#quizText{
    margin-bottom: 20px;
    font-size: 2rem;
}

button{
    border:1px solid #4581F7;
    border-radius: 5px;
    background:#4581F7;
    padding:10px 30px;
    margin-top:30px;
    display:inline-block;
    cursor:pointer;
    font-weight: 700;
    font-size: 1.2rem;
    color:#fff;
}

#res{
    font-size: 4rem;
    margin:20px 0;
}

#res span{
    font-size: 2.3rem;
    color:#888;
}

.line{
    margin:10px 0;
    font-size: 1.1rem;
    color:#232323;
}